   .custom-dropdown {
    background-color: white !important;
    background-color: yellowgreen;
  }
  
  .custom-dropdown .menu {
    background-color: white !important;
  }
  
  .custom-dropdown .item {
    background-color: white !important;
  }
  