.custom-dropdown-container label {
  display: block;
  margin-bottom: 0.5rem;
}

.custom-dropdown {
  padding: 0.5rem;
  border-radius: 4px;
  font-size: medium;
  width: 60rem;
  margin-left: 10rem;
  height: 3rem;
  border: 0.5px solid #0f3c4c;
  cursor: pointer;
}
