.change-container {
    margin-top: 8rem;
    position: fixed;
}

.check-circle {
    margin-left: 29rem;
    color: #68D391;
    font-size: 12rem;
}

.change {
    color:#0F3C4C;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    height: 42px;
    margin-left: 21rem;
}

.change-paragraph-div {
    margin-left: 8rem;
    padding: 3rem;
    width: 60rem;
    border-radius: 4px;
    color: #0F3C4C;
}

.change-paragraph {
    font-size: large;
    width: 20rem;
    text-align: center;
    margin-left: 14rem;
}

.change-password-button {
    height: 3rem;
    width: 60rem;
    border-radius: 4px;
    background-color: #2187AB;
    color: #E9F5F9;
    border: none;
    margin-left: 5rem;
}

.change-image {
    display: flex;
    margin-left: 70rem;
    margin-bottom: 5rem;
    height: 65rem;
    width: 78rem;
    margin-top: -35rem;
}