.done-container {
  margin-top: 8rem;
  position: fixed;
}

.done {
  color: #0f3c4c;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
  height: 42px;
  margin-bottom: 5rem;
  margin-left: 5rem;
}
.message-container {
  width: 60rem;
  height: 8rem;
  display: flex;
  align-items: center;
}

.message-div {
  margin-left: 5rem;
  padding: 3rem;
  background: linear-gradient(to right, #68d391 1%, #9ae6b4 0%);
  width: 60rem;
  border-radius: 4px;
  color: #0f3c4c;
}

.paragraph {
  font-size: large;
}

.success-image {
  display: flex;
  margin-left: 70rem;
  margin-bottom: 5rem;
  height: 65rem;
  width: 78rem;
  margin-top: -30rem;
}

.back-to-login-success {
  margin-left: 5rem;
}

.button-text {
  cursor: pointer;
  height: 3rem;
  width: 60rem;
  border-radius: 4px;
  background-color: #2187ab;
  color: #e9f5f9;
  border: none;
  margin-top: 5rem;
}
