.recovery-background {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    position: fixed;
}

.heading-container {
    background-color: #ffffff;
    margin-top: 8rem;
    margin-bottom: 4rem;
    margin-left: 5rem;
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    color: #0F3C4C;
 
}

.label-input {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #0F3C4C;
    font-weight: 600;
  }

  .email-field {
    margin-left: 5rem;
    margin-bottom: 0.7rem;
    width: 68rem;
  }

  .login-redirect {
    margin-left: 7rem;
    padding-bottom: 5rem;
    font-size: 10px;
    font-weight: 600;
    color: #0F3C4C;
    
  }

  .button-styled {
    background-color: #2187AB;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 68rem;
    height: 3.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 40rem;
    margin-top: 5rem;
  
    &:hover {
      background-color: #1b6d87;
    }
    
  }

  .text-input {
    padding: 10rem;
  }

  .back-to-login {
    padding-left: 67rem;
  }

  .recoverpassword-image {
      margin-right: 60rem;
      margin-top: 2rem;
      height: 65rem;
      width: 70rem;
  }
  