.reset-background {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    position: fixed;
}

.header-container {
    background-color: #ffffff;
    margin-top: 8rem;
    margin-bottom: 4rem;
    margin-left: 3.5rem;
}

.reset-header {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    color: #0F3C4C;
}

.password-field {
    margin-left: 5rem;
    width: 68rem;
}

.confirmpassword-field {
    margin-left: 5rem;
    width: 68rem;
    margin-top: 2rem;
}

.reset-input {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #0F3C4C;
    font-weight: 600;
}

.input-field {
    margin-top: 4rem;
}

.reset-button {
    background-color: #2187AB;
    color: #E9F5F9;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 68rem;
    height: 3.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 40rem;
    margin-top: 5rem;
  
    &:hover {
      background-color: #1b6d87;
    }
}

.resetpassword-image {
    margin-right: 60rem;
    margin-top: -7rem;
    height: 65rem;
    width: 70rem;
}