.photo-library {
  display: flex;
  flex-direction: column;
  margin-left: 446px;
}

.images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 2rem;
}

.image-item {
  margin: 3rem 0.5rem 1px 2rem;
}

.image-title {
  margin-top: -2rem;
  color: #ffffff;
  font-size: large;
}


    