.recovery-background {
    background-color: #ffffff;
    height: 100vh;

    display: flex;
    align-items: center;
}

.heading-container {
    margin-bottom: 20px;
    background-color: #ffffff;
    margin-bottom: 10rem;
    margin-left: 5rem;
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 650;
    line-height: 48px;
    text-align: left;
    color: #0F3C4C;
 
}

.label-input {
    font-size: 15px;
  }

  .input-column {
    padding-bottom: 5rem;
  }

  .input-row {
    margin-right: 10rem;
    margin-left: 5rem;
  }

  .login-redirect {
    margin-left: 67rem;
    padding-bottom: rem;
    font-size: 10px;
    font-weight: 600;
    color: #0F3C4C;
    
  }

  .button-styled {
    background-color: #2187AB;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 68rem;
    height: 3.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
  
    &:hover {
      background-color: #1b6d87;
    }
    
  }

  .text-input {
    padding: 10rem;
  }

  