/* body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-page {
  display: flex;
}

.left-column {
  width: 378px;
  height: 1025px;
  background: #2187AB;
  display: flex;
  flex-direction: column;
  gap: 0px;
  opacity: 1; 
}

.sidebar {
  width: 100%;
  background: none;
  padding-top: 2em;
}

.sidebar .item {
  color: white;
  font-size: 16px;
}

.home-component {
  width: 360px;
  height: 80px;
  padding-top: 10px;
  padding-left: 10px;
  background: #E9F5F9;
  border-radius: 4px 0px 0px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.content {
  flex: 1;
  padding-left: 378px; /* Adjust padding to match the width of the left column */
  /* padding-top: 2em;
  background-color: #f4f4f4; */
/* } */
/* 
.top-menu {
  background-color: white;
  padding: 1em;
  border-bottom: 1px solid #ddd;
}

.main-content {
  padding: 2em;
}

.search-input {
  margin-right: 1em;
}

.filter-button {
  margin-bottom: 1em;
}

.card {
  margin-bottom: 1em;
}

.pagination {
  margin-top: 2em;
  text-align: center;
} */ 


.left-column {
  width: 378px;
  height: 1025px;
  background: #2187AB;
  position: fixed;
  top: 0;
  left: 0;
}

.logo-container {
  width: 377px;
  height: 74px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: none !important; /* Remove default background of Segment */
}

.logo {
  width: 87px;
  height: 54px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  margin-right: auto;
}

.new-element {
  width: 360px;
  height: 80px;
  position: absolute;
  top: 162px;
  left: 9px;
  padding: 10px 0 0 0;
  gap: 10px;
  border-radius: 4px 0 0 0;
  opacity: 1; /* Set to 1 to make it visible */
  display: flex;
  align-items: center;
  background-color: #FFF; /* Add a background color if needed */
}

.home-icon {
  width: 24px !important;
  height: 24px;
  color: #D9D9D9;
}





