.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 18rem;
    margin-left: 5rem;
    background: red;
    width: 100rem;
    height: 50rem;
    border-radius: 4px;

}

.photo-modal {
    width: 100rem;
    height: 50rem;
}

.modal-description {
    margin-top: -4rem;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: large;
    font-weight: 600;
    cursor: pointer;

}